<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java1234.mapper.CartMapper">

    <delete id="deleteByTableNumber" parameterType="string">
        delete from cart where table_num=#{table_num}
    </delete>
    <insert id="addCart" parameterType="com.java1234.entity.Cart">
        insert into cart(table_num,cid,good_index,quantity,unitprice,total_price,image,name,unit,id) values(#{table_num},#{cid},#{good_index},#{quantity},#{unitprice},#{total_price},#{image},#{name},#{unit},#{id})
    </insert>
</mapper>
