<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java1234.mapper.CategoryMapper">

    <resultMap type="com.java1234.entity.Category" id="CategoryResult">

    </resultMap>

    <select id="list" parameterType="Map" resultMap="CategoryResult">
        select * from t_category
        <if test="start!=null and pageSize!=null">
            limit #{start},#{pageSize}
        </if>

    </select>

    <select id="getTotal" parameterType="Map" resultType="Long">
        select count(*) from t_category
    </select>

    <select id="findById" parameterType="Integer" resultMap="CategoryResult">
        select * from t_category where id=#{id}
    </select>


</mapper>
