<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java1234.mapper.DishMapper">

    <resultMap type="com.java1234.entity.Dish" id="DishResult">
        <association property="type" column="typeId" select="com.java1234.mapper.CategoryMapper.findById"></association>
    </resultMap>

    <select id="list" parameterType="Map" resultMap="DishResult">
        select * from t_dish
        <if test="start!=null and pageSize!=null">
            limit #{start},#{pageSize}
        </if>

    </select>

    <select id="getTotal" parameterType="Map" resultType="Long">
        select count(*) from t_dish
    </select>


</mapper>
